header{
    width: auto;
    height: auto;
    background: rgb(167, 92, 236);
    font: normal 16pt Arial;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    color: white
}
header a{
    color: white;
    font: normal 13pt Arial;
}

header a+a{
    margin: 15px;
}